Repository artichoke/artichoke, pull requests merged in 2019-09, with the labels that each got.

#237 parallel ruby build for artichoke-backend
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-backend/build.rs
Labels: A-build, A-ruby-stdlib

#240 Remove Kernel::NOT_SET and Kernel#not_set?
  artichoke-backend/src/extn/core/kernel/kernel.rb
Labels: A-ruby-core, A-spec, B-mruby

#244 Add a screenshot of the playground to the README
  README.md
Labels: A-project, C-docs

#246 Fix wasm32 i64 converter compiler error
  artichoke-backend/src/convert/fixnum.rs
Labels: A-build-target, A-core, C-bug, O-wasm-emscripten

#248 Improve safety of Protect in Eval and ValueLike::funcall
  artichoke-backend/src/eval.rs
  artichoke-backend/src/value.rs
Labels: A-core, B-mruby

#250 Unify ValueLike::funcall and ValueLike::funcall_with_block
  artichoke-backend/src/convert/object.rs
  artichoke-backend/src/exception.rs
  artichoke-backend/src/extn/core/kernel/mod.rs
  artichoke-backend/src/extn/core/matchdata/begin.rs
  artichoke-backend/src/extn/core/matchdata/end.rs
  artichoke-backend/src/extn/core/regexp/union.rs
  artichoke-backend/src/extn/core/string.rs
  artichoke-backend/src/extn/core/string/scan.rs
  artichoke-backend/src/value.rs
  artichoke-backend/src/warn.rs
  artichoke-backend/tests/leak_funcall.rs
  spec-runner/src/mspec.rs
Labels: A-core, B-mruby

#252 Implement artichoke-backend Value with artichoke-core
  Cargo.lock
  artichoke-backend/src/class.rs
  artichoke-backend/src/convert/array.rs
  artichoke-backend/src/convert/boolean.rs
  artichoke-backend/src/convert/bytes.rs
  artichoke-backend/src/convert/fixnum.rs
  artichoke-backend/src/convert/float.rs
  artichoke-backend/src/convert/hash.rs
  artichoke-backend/src/convert/nilable.rs
  artichoke-backend/src/convert/string.rs
  artichoke-backend/src/def.rs
  artichoke-backend/src/eval.rs
  artichoke-backend/src/extn/core/env/env_object.rs
  artichoke-backend/src/extn/core/integer/mod.rs
  artichoke-backend/src/extn/core/kernel/mod.rs
  artichoke-backend/src/extn/core/matchdata/string.rs
  artichoke-backend/src/extn/core/regexp/enc.rs
  artichoke-backend/src/extn/core/regexp/initialize.rs
  artichoke-backend/src/extn/core/regexp/opts.rs
  artichoke-backend/src/extn/core/string.rs
  artichoke-backend/src/extn/core/thread.rs
  artichoke-backend/src/extn/stdlib/forwardable.rs
  artichoke-backend/src/extn/stdlib/monitor.rs
  artichoke-backend/src/gc.rs
  artichoke-backend/src/lib.rs
  artichoke-backend/src/value.rs
  artichoke-backend/tests/leak_funcall.rs
  artichoke-backend/tests/leak_mrb_tt_data_rc.rs
  artichoke-backend/tests/leak_unbounded_arena_growth.rs
  artichoke-backend/tests/manual.rs
  artichoke-core/src/value.rs
  artichoke-frontend/Cargo.toml
  artichoke-frontend/src/repl.rs
  spec-runner/Cargo.toml
  spec-runner/src/mspec.rs
Labels: A-core, A-frontend, B-mruby

#245 #156 implement rest env api in ruby v2
  artichoke-backend/src/extn/core/env/env.rb
Labels: A-core, A-ruby-core

#255 Improve log ergonomics in artichoke-backend
  artichoke-backend/Cargo.toml
  artichoke-backend/src/convert/object.rs
  artichoke-backend/src/eval.rs
  artichoke-backend/src/exception.rs
  artichoke-backend/src/extn/core/comparable/mod.rs
  artichoke-backend/src/extn/core/env/mod.rs
  artichoke-backend/src/extn/core/error.rs
  artichoke-backend/src/extn/core/integer/mod.rs
  artichoke-backend/src/extn/core/kernel/mod.rs
  artichoke-backend/src/extn/core/kernel/require.rs
  artichoke-backend/src/extn/core/string.rs
  artichoke-backend/src/ffi.rs
  artichoke-backend/src/interpreter.rs
  artichoke-backend/src/lib.rs
  artichoke-backend/src/load.rs
  artichoke-backend/src/value.rs
  artichoke-backend/src/warn.rs
Labels: A-deps, B-mruby

#258 Add arg extraction macro to facilitate safe unwinds from sys::mrb_get_args
  artichoke-backend/src/extn/core/kernel/args.rs
  artichoke-backend/src/extn/core/kernel/mod.rs
  artichoke-backend/src/extn/core/kernel/require.rs
  artichoke-backend/src/macros.rs
Labels: A-core, A-vm, B-mruby

#263 Run rubocop linter from workspace root
  .circleci/config.yml
  .rubocop.yml
  Gemfile
  Gemfile.lock
  artichoke-backend/scripts/.rubocop.yml
  artichoke-backend/scripts/Gemfile
  artichoke-backend/scripts/Gemfile.lock
  artichoke-backend/src/extn/.rubocop.yml
  artichoke-backend/src/extn/Gemfile
  artichoke-backend/src/extn/Gemfile.lock
  artichoke-frontend/ruby/.rubocop.yml
  artichoke-frontend/ruby/Gemfile
  scripts/.rubocop.yml
  scripts/Gemfile.lock
  scripts/lint.sh
  spec-runner/src/.rubocop.yml
Labels: A-build

#267 Implement Range#cover? in Ruby
  artichoke-backend/src/extn/core/range/range.rb
Labels: A-core, A-ruby-core, A-spec

#265 #156 implement rest env api in ruby v3
  artichoke-backend/src/extn/core/env/env.rb
Labels: A-core, A-ruby-core

#266 Implement Range#last in Ruby
  artichoke-backend/src/extn/core/range/range.rb
Labels: A-core, A-ruby-core

#269 Prepare for adding ENV to spec-compliance.sh
  artichoke-backend/src/extn/core/error.rs
  artichoke-backend/src/extn/core/string.rb
  scripts/spec-compliance.sh
Labels: A-spec, C-docs

#271 Add RUBY_* global constants
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-backend/build.rs
  artichoke-backend/src/extn/mod.rs
  artichoke-frontend/Cargo.toml
  artichoke-frontend/src/repl.rs
Labels: A-build, A-core, A-vm

#276 Prepare File and Load traits in artichoke-core for use in artichoke-backend
  artichoke-core/src/file.rs
  artichoke-core/src/load.rs
Labels: A-core

#277 Unbreak format-text.sh
  package.json
  scripts/format-text.sh
Labels: A-build

#278 Implement Range#size
  artichoke-backend/src/extn/core/float/float.rb
  artichoke-backend/src/extn/core/float/mod.rs
  artichoke-backend/src/extn/core/mod.rs
  artichoke-backend/src/extn/core/object.rb
  artichoke-backend/src/extn/core/range/range.rb
Labels: A-core, A-ruby-core

#283 Only include wasm headers and function visibility for wasm32-unknown-…
  mruby-sys/build.rs
Labels: A-build, A-build-target, B-mruby, O-wasm-emscripten, O-wasm-unknown

#284 Disable building Rust stubs for some Ruby stdlib packages
  artichoke-backend/build.rs
Labels: A-build, A-ruby-stdlib

#285 Formatter fixups
  scripts/format-c.sh
  scripts/format-text.sh
Labels: A-build

#286 Remove Vec from load_impl
  artichoke-backend/src/extn/core/kernel/require.rs
Labels: A-core, A-ruby-core

#254 Remove dependency on mruby-kernel-ext
  artichoke-backend/src/extn/core/kernel/kernel.rb
  mruby-sys/build.rs
Labels: A-core, A-deps, A-ruby-core, B-mruby, S-wip
