Repository artichoke/artichoke, pull requests merged in 2019-12, with the labels that each got.

#398 Remove Rc and RefCell from class and module spec API
  artichoke-backend/scripts/auto_import/rust_glue.rs.erb
  artichoke-backend/src/class.rs
  artichoke-backend/src/convert/object.rs
  artichoke-backend/src/def.rs
  artichoke-backend/src/eval.rs
  artichoke-backend/src/exception.rs
  artichoke-backend/src/extn/core/array/mruby.rs
  artichoke-backend/src/extn/core/artichoke/mod.rs
  artichoke-backend/src/extn/core/comparable/mod.rs
  artichoke-backend/src/extn/core/enumerable/mod.rs
  artichoke-backend/src/extn/core/enumerator/mod.rs
  artichoke-backend/src/extn/core/env/mruby.rs
  artichoke-backend/src/extn/core/exception/mod.rs
  artichoke-backend/src/extn/core/float/mod.rs
  artichoke-backend/src/extn/core/hash/mod.rs
  artichoke-backend/src/extn/core/integer/mod.rs
  artichoke-backend/src/extn/core/kernel/mod.rs
  artichoke-backend/src/extn/core/matchdata/mod.rs
  artichoke-backend/src/extn/core/method/mod.rs
  artichoke-backend/src/extn/core/module/mod.rs
  artichoke-backend/src/extn/core/numeric/mod.rs
  artichoke-backend/src/extn/core/object/mod.rs
  artichoke-backend/src/extn/core/proc/mod.rs
  artichoke-backend/src/extn/core/random/mruby.rs
  artichoke-backend/src/extn/core/range/mod.rs
  artichoke-backend/src/extn/core/regexp/mruby.rs
  artichoke-backend/src/extn/core/string.rs
  artichoke-backend/src/extn/core/symbol/mod.rs
  artichoke-backend/src/extn/core/thread.rs
  artichoke-backend/src/extn/core/warning/mod.rs
  artichoke-backend/src/extn/stdlib/delegate.rs
  artichoke-backend/src/extn/stdlib/forwardable.rs
  artichoke-backend/src/extn/stdlib/monitor.rs
  artichoke-backend/src/extn/stdlib/ostruct.rs
  artichoke-backend/src/extn/stdlib/set.rs
  artichoke-backend/src/extn/stdlib/strscan.rs
  artichoke-backend/src/interpreter.rs
  artichoke-backend/src/lib.rs
  artichoke-backend/src/method.rs
  artichoke-backend/src/module.rs
  artichoke-backend/src/state.rs
  artichoke-backend/src/warn.rs
  artichoke-backend/tests/leak_mrb_tt_data_rc.rs
  artichoke-backend/tests/manual.rs
  artichoke-backend/tests/obj_new_borrow_mut.rs
  artichoke-core/src/lib.rs
Labels: A-vm, B-mruby, C-quality

#400 Handle uninitialized objects in RustBackedValue::try_from_ruby
  .circleci/config.yml
  artichoke-backend/src/convert/object.rs
  artichoke-backend/src/extn/core/regexp/trampoline.rs
  artichoke-backend/src/warn.rs
  artichoke-core/src/lib.rs
Labels: A-build, A-spec, A-vm, B-mruby, C-bug

#399 Revamp crate READMEs
  README.md
  artichoke-backend/README.md
  artichoke-backend/src/lib.rs
  artichoke-core/README.md
  artichoke-core/src/lib.rs
  artichoke-frontend/README.md
  artichoke-vfs/Cargo.toml
  artichoke-vfs/README.md
  package.json
  scripts/lint.js
  spec-runner/Cargo.toml
  spec-runner/README.md
  yarn.lock
Labels: A-build, A-project, C-docs

#401 Fix some typos in the new crate READMEs
  README.md
  artichoke-backend/README.md
Labels: C-docs

#403 Replace fork of path_abs with dependency on path-dedot crate
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-backend/README.md
  artichoke-backend/src/fs.rs
  artichoke-backend/src/fs/abs.rs
  artichoke-backend/src/lib.rs
Labels: A-deps, A-filesystem

#405 Avoid dependency on std::env::current_dir with path-dedot
  artichoke-backend/src/fs.rs
Labels: A-deps, A-filesystem, C-quality

#411 Integer division
  artichoke-backend/src/extn/core/float/mod.rs
  artichoke-backend/src/extn/core/integer/div.rs
  artichoke-backend/src/extn/core/integer/mod.rs
  artichoke-backend/vendor/mruby/src/vm.c
Labels: A-ruby-core, A-vm, B-mruby, C-bug

#412 Sync Array FFI prototypes from ffi to C header
  artichoke-backend/mruby-sys/include/mruby-sys/artichoke.h
  artichoke-backend/src/extn/core/array/ffi.rs
Labels: A-build-target, A-vm, B-mruby, O-wasm-emscripten

#406 Changes .inspect/.to_s to return Vec<u8>
  artichoke-backend/src/convert/hash.rs
  artichoke-backend/src/convert/object.rs
  artichoke-backend/src/convert/string.rs
  artichoke-backend/src/extn/core/integer/mod.rs
  artichoke-backend/src/extn/core/kernel/mod.rs
  artichoke-backend/src/extn/core/regexp/mod.rs
  artichoke-backend/src/value.rs
  artichoke-backend/tests/leak_unbounded_arena_growth.rs
  artichoke-core/src/value.rs
  artichoke-frontend/src/repl.rs
Labels: A-core, A-vm, C-bug

#417 Latest rustup is installing i686 Rust
  .circleci/config.yml
Labels: A-build, O-windows, S-wip

#416 Simplify InlineBuffer implementation
  artichoke-backend/src/extn/core/array/args.rs
  artichoke-backend/src/extn/core/array/inline_buffer.rs
  artichoke-backend/src/extn/core/array/inline_buffer_test.rb
  artichoke-backend/src/extn/core/array/mod.rs
Labels: A-performance, A-ruby-core, C-quality

#419 Build docs with nightly rustdoc
  artichoke-backend/src/lib.rs
  artichoke-backend/src/sys/args.rs
  artichoke-backend/src/sys/mod.rs
  artichoke-frontend/src/parser.rs
  rustdoc-toolchain
  scripts/lint.js
Labels: A-build, C-docs

#421 Add top-level documentation for artichoke workspace binaries
  artichoke-frontend/README.md
  artichoke-frontend/src/bin/airb.rs
  artichoke-frontend/src/bin/artichoke.rs
  artichoke-frontend/src/bin/ruby.rs
  artichoke-frontend/src/lib.rs
  artichoke-frontend/src/ruby.rs
  spec-runner/src/main.rs
Labels: A-frontend, C-docs

#422 Fix broken link to artichoke-vfs from spec-runner binary docs
  spec-runner/src/main.rs
Labels: A-spec, C-docs

#423 Use async/await style in scripts/lint.js
  scripts/lint.js
  yarn.lock
Labels: A-build, C-quality

#424 Reimplement InlineBuffer with smallvec crate
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-backend/src/extn/core/array/inline_buffer.rs
Labels: A-deps, A-performance, A-ruby-core, C-quality
