Repository artichoke/artichoke, pull requests merged in 2019-08, with the labels that each got.

#108 Move MRI C API from non-goal to goal
  README.md
Labels: C API: MRI, documentation

#118 Add scaffolding to support Regexp backed by Rust regex crate
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-backend/src/extn/core/matchdata/begin.rs
  artichoke-backend/src/extn/core/matchdata/captures.rs
  artichoke-backend/src/extn/core/matchdata/element_reference.rs
  artichoke-backend/src/extn/core/matchdata/end.rs
  artichoke-backend/src/extn/core/matchdata/length.rs
  artichoke-backend/src/extn/core/matchdata/mod.rs
  artichoke-backend/src/extn/core/matchdata/named_captures.rs
  artichoke-backend/src/extn/core/matchdata/names.rs
  artichoke-backend/src/extn/core/matchdata/offset.rs
  artichoke-backend/src/extn/core/matchdata/to_a.rs
  artichoke-backend/src/extn/core/matchdata/to_s.rs
  artichoke-backend/src/extn/core/regexp/case_compare.rs
  artichoke-backend/src/extn/core/regexp/match_.rs
  artichoke-backend/src/extn/core/regexp/match_operator.rs
  artichoke-backend/src/extn/core/regexp/match_q.rs
  artichoke-backend/src/extn/core/regexp/mod.rs
  artichoke-backend/src/extn/core/regexp/named_captures.rs
  artichoke-backend/src/extn/core/regexp/names.rs
  artichoke-backend/src/extn/core/string/scan.rs
Labels: Artichoke: Core

#117 [wip] Wahba run autoimport in build
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-backend/build.rs
  artichoke-backend/scripts/Gemfile
  artichoke-backend/scripts/Gemfile.lock
  artichoke-backend/scripts/auto_import/auto_import.rb
  artichoke-backend/scripts/auto_import/get_constants_loaded.rb
  artichoke-backend/scripts/auto_import/get_package_files.rb
  artichoke-backend/scripts/auto_import/rust_glue.rs.erb
  scripts/lint.sh
Labels: Artichoke: Build, Artichoke: Core

#122 Update README to target full compatibility with MRI
  README.md
Labels: Artichoke: Project, documentation

#123 Fixups to auto import build step
  artichoke-backend/build.rs
  artichoke-backend/scripts/.rubocop.yml
  artichoke-backend/scripts/auto_import/auto_import.rb
  artichoke-backend/scripts/auto_import/get_constants_loaded.rb
  artichoke-backend/scripts/auto_import/get_package_files.rb
  artichoke-backend/scripts/auto_import/rust_glue.rs.erb
Labels: Artichoke: Build, Artichoke: Core

#124 Fix a broken link to toolchain setup in README
  README.md
Labels: A-project, C-docs

#131 Add Discord invite link to README and CONTRIBUTING
  CONTRIBUTING.md
  README.md
Labels: A-project, C-docs

#134 Rename generated webpack outputs so they do not conflict with rustdoc
  webpack.config.js
Labels: A-build, A-project, C-docs

#140 [Doc] Fix reference
  CONTRIBUTING.md
Labels: A-project, C-docs

#147 Use cc crate to build mruby-sys static library
  .circleci/config.yml
  CONTRIBUTING.md
  Cargo.lock
  mruby-sys/Cargo.toml
  mruby-sys/bootstrap.gembox
  mruby-sys/build.rs
  mruby-sys/build_config.rb
Labels: A-build, A-build-target, B-mruby, C-docs, T-wasm-unknown

#148 #113 env implementation
  artichoke-backend/src/extn/core/env.rb
  artichoke-backend/src/extn/core/env.rs
  artichoke-backend/src/extn/core/env/backends.rs
  artichoke-backend/src/extn/core/env/env.rb
  artichoke-backend/src/extn/core/env/env_object.rs
  artichoke-backend/src/extn/core/env/errors.rs
  artichoke-backend/src/extn/core/env/mod.rs
Labels: A-core, A-ruby-core, B-mruby

#157 Env followup
  artichoke-backend/src/extn/core/env/backends.rs
  artichoke-backend/src/extn/core/env/env_object.rs
  artichoke-backend/src/extn/core/env/errors.rs
  artichoke-backend/src/extn/core/env/mod.rs
Labels: A-core, A-ruby-core

#158 Generate uri package sources
  artichoke-backend/build.rs
  artichoke-backend/scripts/auto_import/auto_import.rb
  artichoke-backend/scripts/auto_import/get_constants_loaded.rb
  artichoke-backend/scripts/auto_import/get_package_files.rb
  artichoke-backend/scripts/auto_import/rust_glue.rs.erb
  artichoke-backend/src/extn/stdlib/uri.rb
  artichoke-backend/src/extn/stdlib/uri.rs
  artichoke-backend/src/extn/stdlib/uri/common.rb
  artichoke-backend/src/extn/stdlib/uri/file.rb
  artichoke-backend/src/extn/stdlib/uri/ftp.rb
  artichoke-backend/src/extn/stdlib/uri/generic.rb
  artichoke-backend/src/extn/stdlib/uri/http.rb
  artichoke-backend/src/extn/stdlib/uri/https.rb
  artichoke-backend/src/extn/stdlib/uri/ldap.rb
  artichoke-backend/src/extn/stdlib/uri/ldaps.rb
  artichoke-backend/src/extn/stdlib/uri/mailto.rb
  artichoke-backend/src/extn/stdlib/uri/rfc2396_parser.rb
  artichoke-backend/src/extn/stdlib/uri/rfc3986_parser.rb
  artichoke-backend/vendor/00001-uri-brackets-for-ivar-interpolation.patch
  artichoke-backend/vendor/00002-uri-defined-keyword.patch
Labels: A-build, A-core, A-ruby-stdlib, A-spec, B-mruby

#159 Generate sources stdlib packages
  .circleci/config.yml
  artichoke-backend/build.rs
  artichoke-backend/scripts/auto_import/get_package_files.rb
  artichoke-backend/src/extn/stdlib/mod.rs
  artichoke-backend/src/extn/stdlib/uri.rs
Labels: A-build, A-core, A-ruby-stdlib

#160 Extract artichoke-wasm to another repository
  .circleci/config.yml
  Cargo.lock
  Cargo.toml
  README.md
  artichoke-wasm/.eslintrc.json
  artichoke-wasm/Cargo.lock
  artichoke-wasm/Cargo.toml
  artichoke-wasm/build.rs
  artichoke-wasm/src/ffi.rs
  artichoke-wasm/src/index.html
  artichoke-wasm/src/main.rs
  artichoke-wasm/src/meta.rs
  artichoke-wasm/src/playground.js
  artichoke-wasm/src/playground.rb
  artichoke-wasm/src/string.rs
  assets/index.html
  package.json
  scripts/lint.sh
  webpack.config.js
  yarn.lock
Labels: A-build, A-build-target, A-project, T-wasm-emscripten

#162 Rename patch functions to init in artichoke-backend extn
  artichoke-backend/src/extn/core/array.rs
  artichoke-backend/src/extn/core/env/env_object.rs
  artichoke-backend/src/extn/core/env/mod.rs
  artichoke-backend/src/extn/core/error.rs
  artichoke-backend/src/extn/core/hash.rs
  artichoke-backend/src/extn/core/kernel/mod.rs
  artichoke-backend/src/extn/core/mod.rs
  artichoke-backend/src/extn/core/module.rs
  artichoke-backend/src/extn/core/string.rs
  artichoke-backend/src/extn/mod.rs
  artichoke-backend/src/extn/stdlib/mod.rs
  artichoke-backend/src/extn/stdlib/stubs.rs
  artichoke-backend/src/interpreter.rs
Labels: A-core, A-ruby-core, A-ruby-stdlib

#163 Add spec-compliant Comparable implementation to Core
  artichoke-backend/src/extn/core/comparable/comparable.rb
  artichoke-backend/src/extn/core/comparable/mod.rs
  artichoke-backend/src/extn/core/mod.rs
  doc/ruby-spec.md
  mruby-sys/build.rs
  scripts/spec-compliance.sh
Labels: A-core, A-deps, A-ruby-core, B-mruby

#164 Remove dependency on mruby-array-ext and mruby-hash-ext
  artichoke-backend/README.md
  artichoke-backend/src/extn/core/array.rb
  artichoke-backend/src/extn/core/array/array.rb
  artichoke-backend/src/extn/core/array/mod.rs
  artichoke-backend/src/extn/core/hash.rb
  artichoke-backend/src/extn/core/hash/hash.rb
  artichoke-backend/src/extn/core/hash/mod.rs
  mruby-sys/build.rs
Labels: A-build, A-core, A-deps, A-ruby-core, B-mruby

#169 Fix mruby-sys build flakiness when compiling mruby-compiler mrbgem
  .circleci/config.yml
  CONTRIBUTING.md
  mruby-sys/build_config.rb
Labels: A-build, B-mruby, C-bug, C-docs

#173 Fix spurious failures in mruby-sys build
  mruby-sys/build.rs
Labels: A-build, B-mruby, C-bug

#174 Update to onig 5.0
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-backend/src/extn/core/matchdata/begin.rs
  artichoke-backend/src/extn/core/matchdata/element_reference.rs
  artichoke-backend/src/extn/core/matchdata/end.rs
  artichoke-backend/src/extn/core/matchdata/named_captures.rs
  artichoke-backend/src/extn/core/matchdata/names.rs
  artichoke-backend/src/extn/core/matchdata/offset.rs
  artichoke-backend/src/extn/core/regexp/named_captures.rs
  artichoke-backend/src/extn/core/regexp/names.rs
Labels: A-build-target, A-deps, T-wasm-emscripten, T-wasm-unknown

#177 Build with stable Rust 1.37.0
  .circleci/config.yml
  rust-toolchain
Labels: A-build

#187 Reduce complexity of Enumerable#drop_while and Enumerable#group_by
  artichoke-backend/src/extn/core/enumerable/enumerable.rb
Labels: A-core, A-ruby-core

#189 Fix missing rename from h to groups
  artichoke-backend/src/extn/core/enumerable/enumerable.rb
Labels: A-core, A-ruby-core, C-bug

#192 Implement Integer#chr in Rust
  artichoke-backend/src/class.rs
  artichoke-backend/src/extn/core/error.rs
  artichoke-backend/src/extn/core/integer/integer.rb
  artichoke-backend/src/extn/core/integer/mod.rs
  artichoke-backend/src/extn/core/mod.rs
Labels: A-core, A-ruby-core, B-mruby

#194 Don't define existing Modules if they already exist on the mruby VM
  artichoke-backend/src/module.rs
Labels: A-vm, B-mruby, C-bug

#188 Remove dependency on mruby-numeric-ext
  artichoke-backend/src/extn/core/mod.rs
  artichoke-backend/src/extn/core/numeric/mod.rs
  artichoke-backend/src/extn/core/numeric/numeric.rb
  mruby-sys/build.rs
Labels: A-core, A-deps, A-ruby-core, B-mruby

#211 Update JS deps
  package.json
  yarn.lock
Labels: A-deps, C-bug

#214 Fix capitalization in E-easy label
  CONTRIBUTING.md
  README.md
Labels: A-project, C-docs

#212 Impl. Integer#size in Rust
  artichoke-backend/src/extn/core/integer/mod.rs
Labels: A-core, A-ruby-core

#215 Revendor artichoke/mspec@2f8d060
  spec-runner/vendor/mspec/lib/mspec/guards/platform.rb
Labels: A-deps, A-spec

#220 Implement more methods on Symbol in Ruby
  artichoke-backend/src/extn/core/integer/mod.rs
  artichoke-backend/src/extn/core/symbol/symbol.rb
Labels: A-core, A-ruby-core, B-mruby

#224 Purge mrbgems
  Cargo.lock
  mruby-sys/Cargo.toml
  mruby-sys/build.rs
Labels: A-build, A-core, B-mruby, C-docs

#225 Cargo deps upgrade
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-frontend/Cargo.toml
  artichoke-vfs/Cargo.toml
  spec-runner/Cargo.toml
Labels: A-deps

#226 Improve focus of README
  README.md
  doc/artichoke-design-and-goals.md
Labels: A-project, C-docs

#227 Add docs on how to build
  CONTRIBUTING.md
  README.md
  doc/build.md
Labels: A-build, C-docs

#229 Remove explicit GC disable in String#scan
  artichoke-backend/src/extn/core/string/scan.rs
Labels: A-core, A-ruby-core, B-mruby, C-bug
