Repository artichoke/artichoke, pull requests merged in 2019-10, with the labels that each got.

#295 Bump Rust toolchain to 1.38.0
  artichoke-backend/src/def.rs
  artichoke-backend/src/extn/core/env/backends.rs
  artichoke-backend/src/extn/core/env/mod.rs
  artichoke-backend/src/extn/core/matchdata/begin.rs
  artichoke-backend/src/extn/core/matchdata/element_reference.rs
  artichoke-backend/src/extn/core/matchdata/end.rs
  artichoke-backend/src/extn/core/matchdata/offset.rs
  artichoke-backend/src/extn/core/regexp/enc.rs
  artichoke-core/src/lib.rs
  artichoke-core/src/types.rs
  artichoke-frontend/src/parser.rs
  artichoke-vfs/src/fake/node.rs
  rust-toolchain
Labels: A-build, A-performance

#297 Improve performance of spec-compliance.sh script
  .circleci/config.yml
  package.json
  scripts/spec-compliance.sh
  spec-runner/src/spec_runner.rb
Labels: A-performance, A-spec

#299 Bump Cargo Dependencies
  Cargo.lock
  artichoke-backend/Cargo.toml
Labels: A-deps

#301 Properly resolve emscripten headers and include them for all Wasm targets
  artichoke-backend/build.rs
Labels: A-build, A-build-target, O-wasm-emscripten

#293 [WIP] Implement Kernel#Integer in Rust
  artichoke-backend/src/extn/core/artichoke/mod.rs
  artichoke-backend/src/extn/core/kernel/integer.rs
  artichoke-backend/src/extn/core/kernel/kernel.rb
  artichoke-backend/src/extn/core/kernel/mod.rs
  artichoke-backend/src/extn/core/mod.rs
Labels: A-core, A-ruby-core

#304 Kernel#Integer cleanup
  artichoke-backend/src/extn/core/kernel/integer.rs
  artichoke-backend/src/extn/core/kernel/mod.rs
Labels: A-core, A-ruby-core

#306 adds unchecked_funcall
  artichoke-backend/src/value.rs
  artichoke-core/src/value.rs
Labels: A-core, A-vm

#307 Add slice converters
  artichoke-backend/src/convert/array.rs
  artichoke-backend/src/convert/nilable.rs
  artichoke-backend/src/convert/object.rs
Labels: A-vm, B-mruby

#312 Add artichoke and ruby binaries to artichoke-frontend
  Cargo.lock
  artichoke-frontend/Cargo.toml
  artichoke-frontend/src/bin/airb.rs
  artichoke-frontend/src/bin/artichoke.rs
  artichoke-frontend/src/bin/ruby.rs
  artichoke-frontend/src/repl.rs
Labels: A-frontend, A-performance, A-spec

#313 artichoke -e takes multiple OsStr arguments
  artichoke-frontend/src/bin/artichoke.rs
Labels: A-build-target, A-frontend

#314 Optimize String#scan for literal String patterns
  artichoke-backend/src/extn/core/string.rs
  artichoke-backend/src/extn/core/string/scan.rs
Labels: A-core, A-deps, A-performance, A-ruby-core

#315 Make String#scan implementation pass ruby/spec
  artichoke-backend/src/extn/core/string/scan.rs
  scripts/spec-compliance.sh
Labels: A-core, A-ruby-core, A-spec

#316 Replace bespoke byte substring searcher with bstr
  artichoke-backend/src/extn/core/string/scan.rs
  artichoke-frontend/src/bin/artichoke.rs
Labels: A-deps, A-frontend, A-performance

#320 Replace Array implementation with a class cluster
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-backend/mruby-sys/include/mruby-sys/artichoke.h
  artichoke-backend/mruby-sys/include/mruby-sys/ext.h
  artichoke-backend/mruby-sys/src/mruby-sys/ext.c
  artichoke-backend/src/convert/array.rs
  artichoke-backend/src/convert/object.rs
  artichoke-backend/src/extn/core/array/args.rs
  artichoke-backend/src/extn/core/array/array.rb
  artichoke-backend/src/extn/core/array/backend/aggregate.rs
  artichoke-backend/src/extn/core/array/backend/buffer.rs
  artichoke-backend/src/extn/core/array/backend/fixed.rs
  artichoke-backend/src/extn/core/array/backend/fixed/empty.rs
  artichoke-backend/src/extn/core/array/backend/fixed/hole.rs
  artichoke-backend/src/extn/core/array/backend/fixed/one.rs
  artichoke-backend/src/extn/core/array/backend/fixed/two.rs
  artichoke-backend/src/extn/core/array/backend/integer_range.rs
  artichoke-backend/src/extn/core/array/backend/mod.rs
  artichoke-backend/src/extn/core/array/backend/repeated.rs
  artichoke-backend/src/extn/core/array/backend/repeated/value.rs
  artichoke-backend/src/extn/core/array/mod.rs
  artichoke-backend/src/extn/core/array/mruby.rs
  artichoke-backend/src/extn/core/array/trampoline.rs
  artichoke-backend/src/extn/core/mod.rs
  artichoke-backend/src/extn/core/regexp/union.rs
  artichoke-backend/src/gc.rs
  artichoke-backend/src/interpreter.rs
  artichoke-backend/src/lib.rs
  artichoke-backend/src/macros.rs
  artichoke-backend/vendor/mruby/src/gc.c
  spec-runner/src/mspec.rs
Labels: A-core, A-performance, A-ruby-core

#321 Remove warning silencers and fixup warnings in array and exception modules
  artichoke-backend/src/exception.rs
  artichoke-backend/src/extn/core/array/backend/aggregate.rs
  artichoke-backend/src/extn/core/array/backend/buffer.rs
  artichoke-backend/src/extn/core/array/backend/fixed/empty.rs
  artichoke-backend/src/extn/core/array/backend/fixed/hole.rs
  artichoke-backend/src/extn/core/array/backend/fixed/one.rs
  artichoke-backend/src/extn/core/array/backend/fixed/two.rs
  artichoke-backend/src/extn/core/array/backend/repeated/value.rs
  artichoke-backend/src/extn/core/array/mod.rs
Labels: A-build

#322 Fix segfault and borrow errors when running the entire Array spec suite
  .circleci/config.yml
  artichoke-backend/src/extn/core/array/mod.rs
  artichoke-backend/src/extn/core/array/mruby.rs
  artichoke-backend/src/extn/core/array/trampoline.rs
  artichoke-backend/src/extn/core/regexp/match_.rs
  artichoke-backend/src/extn/core/regexp/mod.rs
  artichoke-backend/src/extn/core/string.rs
  artichoke-backend/src/extn/core/string/scan.rs
  artichoke-backend/src/macros.rs
  artichoke-backend/src/value.rs
Labels: A-build, A-core, A-ruby-core, A-spec, C-bug
