Repository artichoke/artichoke, pull requests merged in 2019-11, with the labels that each got.

#324 Rollout to playground
  .circleci/config.yml
  artichoke-backend/Cargo.toml
  artichoke-backend/build.rs
  artichoke-backend/mruby-sys/include/mruby-sys.h
  artichoke-backend/mruby-sys/include/mruby-sys/artichoke.h
  artichoke-backend/mruby-sys/include/mruby-sys/ext.h
  artichoke-backend/mruby-sys/src/mruby-sys/ext.c
  artichoke-backend/src/convert/array.rs
  artichoke-backend/src/convert/hash.rs
  artichoke-backend/src/extn/core/array/mruby.rs
  artichoke-backend/src/extn/core/artichoke/mod.rs
  artichoke-backend/src/extn/core/env/mruby.rs
  artichoke-backend/src/extn/core/exception/mod.rs
  artichoke-backend/src/extn/core/integer/mod.rs
  artichoke-backend/src/extn/core/kernel/mod.rs
  artichoke-backend/src/extn/core/regexp/union.rs
  artichoke-backend/src/extn/core/string.rs
  artichoke-backend/src/value.rs
Labels: A-build, O-wasm-emscripten

#328 Avoid double allocation of MRB_TT_DATA objects
  artichoke-backend/src/convert/object.rs
  artichoke-backend/src/extn/core/regexp/mod.rs
Labels: A-vm, B-mruby, C-bug

#329 Code quality improvements
  artichoke-backend/src/convert/object.rs
  artichoke-backend/src/def.rs
  artichoke-backend/src/extn/core/array/backend/buffer.rs
  artichoke-backend/src/extn/core/array/mod.rs
  artichoke-backend/src/extn/core/array/mruby.rs
  artichoke-backend/src/extn/core/array/trampoline.rs
Labels: A-core, A-vm, B-mruby

#332 Add missing indirection via Array access macros in mruby impl
  artichoke-backend/vendor/mruby/src/backtrace.c
  artichoke-backend/vendor/mruby/src/class.c
  artichoke-backend/vendor/mruby/src/error.c
  artichoke-backend/vendor/mruby/src/kernel.c
  artichoke-backend/vendor/mruby/src/string.c
  artichoke-backend/vendor/mruby/src/vm.c
Labels: B-mruby, C-bug

#331 Split Warning out into its own core module
  artichoke-backend/src/extn/core/kernel/kernel.rb
  artichoke-backend/src/extn/core/kernel/mod.rs
  artichoke-backend/src/extn/core/mod.rs
  artichoke-backend/src/extn/core/warning/mod.rs
  artichoke-backend/src/extn/core/warning/warning.rb
  artichoke-backend/src/warn.rs
Labels: A-core, A-ruby-core

#333 Fix mutable borrow errors when cloning a buffer in Buffer::set_slice
  artichoke-backend/src/extn/core/array/backend/buffer.rs
Labels: A-core, A-ruby-core, C-bug

#334 Alter ArrayType to take &mut self for mutating methods
  artichoke-backend/src/extn/core/array/backend/aggregate.rs
  artichoke-backend/src/extn/core/array/backend/buffer.rs
  artichoke-backend/src/extn/core/array/backend/fixed/empty.rs
  artichoke-backend/src/extn/core/array/backend/fixed/hole.rs
  artichoke-backend/src/extn/core/array/backend/fixed/one.rs
  artichoke-backend/src/extn/core/array/backend/fixed/two.rs
  artichoke-backend/src/extn/core/array/backend/repeated/value.rs
  artichoke-backend/src/extn/core/array/mod.rs
Labels: A-core, A-performance, A-ruby-core

#336 Rename temporary in Aggregate::pop from first to last
  artichoke-backend/src/extn/core/array/backend/aggregate.rs
Labels: A-ruby-core, C-quality

#327 Enable compile-time selection of ENV backend
  artichoke-backend/Cargo.toml
  artichoke-backend/src/convert/object.rs
  artichoke-backend/src/def.rs
  artichoke-backend/src/extn/core/array/mod.rs
  artichoke-backend/src/extn/core/env/env.rb
  artichoke-backend/src/extn/core/env/mod.rs
  artichoke-backend/src/extn/core/env/mruby.rs
  artichoke-backend/src/extn/core/matchdata/mod.rs
  artichoke-backend/src/extn/core/regexp/mod.rs
  artichoke-backend/src/lib.rs
  artichoke-backend/tests/leak_mrb_tt_data_rc.rs
  artichoke-backend/tests/manual.rs
  artichoke-backend/tests/obj_new_borrow_mut.rs
  artichoke-backend/vendor/mruby/mrbgems/mruby-method/src/method.c
  artichoke-backend/vendor/mruby/src/class.c
  artichoke-backend/vendor/mruby/src/state.c
  artichoke-backend/vendor/mruby/src/vm.c
Labels: A-build, A-build-target, A-core, B-mruby, C-bug, O-wasm-emscripten, O-wasm-unknown

#341 Implement Regexp with multiple backends and a boxed trait object
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-backend/src/convert/array.rs
  artichoke-backend/src/extn/core/matchdata/begin.rs
  artichoke-backend/src/extn/core/matchdata/captures.rs
  artichoke-backend/src/extn/core/matchdata/element_reference.rs
  artichoke-backend/src/extn/core/matchdata/end.rs
  artichoke-backend/src/extn/core/matchdata/length.rs
  artichoke-backend/src/extn/core/matchdata/matchdata.rb
  artichoke-backend/src/extn/core/matchdata/mod.rs
  artichoke-backend/src/extn/core/matchdata/named_captures.rs
  artichoke-backend/src/extn/core/matchdata/names.rs
  artichoke-backend/src/extn/core/matchdata/offset.rs
  artichoke-backend/src/extn/core/matchdata/string.rs
  artichoke-backend/src/extn/core/matchdata/to_a.rs
  artichoke-backend/src/extn/core/matchdata/to_s.rs
  artichoke-backend/src/extn/core/mod.rs
  artichoke-backend/src/extn/core/regexp/backend/lazy/mod.rs
  artichoke-backend/src/extn/core/regexp/backend/mod.rs
  artichoke-backend/src/extn/core/regexp/backend/onig/mod.rs
  artichoke-backend/src/extn/core/regexp/case_compare.rs
  artichoke-backend/src/extn/core/regexp/casefold.rs
  artichoke-backend/src/extn/core/regexp/enc.rs
  artichoke-backend/src/extn/core/regexp/eql.rs
  artichoke-backend/src/extn/core/regexp/escape.rs
  artichoke-backend/src/extn/core/regexp/fixed_encoding.rs
  artichoke-backend/src/extn/core/regexp/hash.rs
  artichoke-backend/src/extn/core/regexp/initialize.rs
  artichoke-backend/src/extn/core/regexp/inspect.rs
  artichoke-backend/src/extn/core/regexp/match_.rs
  artichoke-backend/src/extn/core/regexp/match_operator.rs
  artichoke-backend/src/extn/core/regexp/match_q.rs
  artichoke-backend/src/extn/core/regexp/mod.rs
  artichoke-backend/src/extn/core/regexp/mruby.rs
  artichoke-backend/src/extn/core/regexp/named_captures.rs
  artichoke-backend/src/extn/core/regexp/names.rs
  artichoke-backend/src/extn/core/regexp/options.rs
  artichoke-backend/src/extn/core/regexp/opts.rs
  artichoke-backend/src/extn/core/regexp/source.rs
  artichoke-backend/src/extn/core/regexp/to_s.rs
  artichoke-backend/src/extn/core/regexp/trampoline.rs
  artichoke-backend/src/extn/core/regexp/union.rs
  artichoke-backend/src/extn/core/string/scan.rs
  artichoke-backend/src/state.rs
  artichoke-backend/vendor/mruby/mrbgems/mruby-compiler/core/parse.y
  scripts/spec-compliance.sh
  spec-runner/src/mspec.rs
  spec-runner/src/spec_runner.rb
Labels: A-core, A-ruby-core

#342 Add a regex crate Regexp backend
  artichoke-backend/src/convert/hash.rs
  artichoke-backend/src/extn/core/array/ffi.rs
  artichoke-backend/src/extn/core/array/mod.rs
  artichoke-backend/src/extn/core/array/mruby.rs
  artichoke-backend/src/extn/core/array/trampoline.rs
  artichoke-backend/src/extn/core/regexp/backend/hybrid.rs
  artichoke-backend/src/extn/core/regexp/backend/lazy.rs
  artichoke-backend/src/extn/core/regexp/backend/mod.rs
  artichoke-backend/src/extn/core/regexp/backend/onig.rs
  artichoke-backend/src/extn/core/regexp/backend/regex.rs
  artichoke-backend/src/extn/core/regexp/backend/regex_binary.rs
  artichoke-backend/src/extn/core/regexp/backend/regex_utf8.rs
  artichoke-backend/src/extn/core/regexp/mod.rs
  artichoke-backend/src/macros.rs
  artichoke-backend/vendor/mruby/src/class.c
  artichoke-backend/vendor/mruby/src/vm.c
  scripts/spec-compliance.sh
Labels: A-core, A-deps, A-performance, A-ruby-core

#345 Improve usage of MaybeUninit
  artichoke-backend/src/eval.rs
  artichoke-backend/src/extn/core/array/args.rs
  artichoke-backend/src/extn/core/matchdata/element_reference.rs
  artichoke-backend/src/macros.rs
  artichoke-backend/src/sys/ffi_tests.rs
  artichoke-backend/src/value.rs
  artichoke-backend/tests/leak/mod.rs
  artichoke-backend/tests/manual.rs
Labels: C-quality

#346 Improvements to project onboarding
  Cargo.lock
  README.md
  artichoke-backend/Cargo.toml
  artichoke-backend/build.rs
Labels: A-build, A-project, C-docs

#347 [chore] Upgrade JS, Ruby, and Rust deps
  Cargo.lock
  Gemfile.lock
  artichoke-backend/tests/leak/mod.rs
  artichoke-backend/tests/leak_unbounded_arena_growth.rs
  package.json
  yarn.lock
Labels: A-build, A-deps

#348 Disable unneeded converters for collection types
  artichoke-backend/src/convert/array.rs
  artichoke-backend/src/convert/hash.rs
  artichoke-backend/src/convert/nilable.rs
Labels: A-build, A-vm

#350 Bump rust toolchain to 1.39.0
  .circleci/config.yml
  artichoke-backend/src/convert/hash.rs
  artichoke-backend/src/def.rs
  artichoke-backend/src/extn/core/array/ffi.rs
  artichoke-backend/src/extn/core/array/mod.rs
  artichoke-backend/src/extn/core/array/mruby.rs
  artichoke-backend/src/extn/core/exception/mod.rs
  artichoke-backend/src/extn/core/mod.rs
  artichoke-backend/src/ffi.rs
  rust-toolchain
Labels: A-build

#351 Change source file for ruby binary from symlink to file
  artichoke-frontend/src/bin/artichoke.rs
  artichoke-frontend/src/bin/ruby.rs
  artichoke-frontend/src/lib.rs
  artichoke-frontend/src/ruby.rs
Labels: A-build, A-build-target, A-frontend, O-windows

#352 Windows build fixes for artichoke_backend::fs
  artichoke-backend/src/fs/abs.rs
  artichoke-backend/src/fs/mod.rs
Labels: A-build-target, A-filesystem, O-windows

#353 Remove dependency on mruby-enumerator and mruby-enum-lazy
  artichoke-backend/build.rs
  artichoke-backend/src/extn/core/enumerator/enumerator.rb
  artichoke-backend/src/extn/core/enumerator/lazy.rb
  artichoke-backend/src/extn/core/enumerator/mod.rs
  artichoke-backend/src/extn/core/mod.rs
Labels: A-build, A-core, A-ruby-core, B-mruby

#354 Fixes to auto_import script to handle windows paths
  artichoke-backend/scripts/auto_import/auto_import.rb
  artichoke-backend/scripts/auto_import/get_package_files.rb
  artichoke-backend/scripts/auto_import/rust_glue.rs.erb
Labels: A-build, A-build-target, A-ruby-stdlib, O-windows

#355 Remove dependency on mrblib
  artichoke-backend/src/extn/core/kernel/kernel.rb
  artichoke-backend/src/extn/core/method/method.rb
  artichoke-backend/src/extn/core/method/mod.rs
  artichoke-backend/src/extn/core/mod.rs
  artichoke-backend/src/extn/core/module/module.rb
  artichoke-backend/src/extn/core/proc/mod.rs
  artichoke-backend/src/extn/core/string.rb
Labels: A-core, A-ruby-core, B-mruby

#358 Lint buildfix
  artichoke-backend/src/extn/core/env/env.rb
  artichoke-frontend/src/ruby.rs
Labels: C-quality

#359 Disable spec compliance suite due to segfaults in mruby VM
  scripts/spec-compliance.sh
Labels: A-project, A-spec, B-mruby, C-bug

#360 Modify build.rs to build artichoke-backend under Windows
  artichoke-backend/build.rs
Labels: A-build, A-build-target, B-mruby, O-windows

#361 Null out the mruby host build
  artichoke-backend/bootstrap.gembox
  artichoke-backend/build.rs
  artichoke-backend/mruby_build_config_null.rb
  artichoke-backend/vendor/mruby/lib/mruby/gem.rb
Labels: A-build, A-build-target, B-mruby, O-windows

#362 Remove string_scan_bench frontend binary
  artichoke-frontend/src/bin/string_scan_bench.rs
Labels: A-frontend, C-quality

#338 Add a build on Windows with the Rust msvc toolchain
  .circleci/config.yml
  artichoke-backend/mruby_build_config_null.rb
Labels: A-build, A-build-target, E-help-wanted, O-windows

#365 Improve CircleCI build
  .circleci/config.yml
Labels: A-build, A-build-target

#368 Use prebuilt images with Ruby 2.6.3 and node
  .circleci/config.yml
Labels: A-build

#371 Make exception::raise take impl RubyException
  artichoke-backend/src/extn/core/array/ffi.rs
  artichoke-backend/src/extn/core/exception/mod.rs
  artichoke-backend/src/extn/core/integer/mod.rs
  artichoke-backend/src/extn/core/string.rs
Labels: A-core, A-performance, C-quality

#373 Implement Clone for Onig and RegexUtf8 RegexpTypes
  artichoke-backend/src/extn/core/regexp/backend/onig.rs
  artichoke-backend/src/extn/core/regexp/backend/regex_utf8.rs
Labels: A-performance, A-ruby-core

#372 Disable backtrace generation in non-debug builds
  artichoke-backend/Cargo.toml
  artichoke-backend/src/extn/core/exception/mod.rs
Labels: A-deps, A-performance

#375 Stop allocating a vfs metadata struct when defining a source file
  artichoke-backend/src/load.rs
Labels: A-filesystem, A-performance

#374 Attempt to unbox Regexp first in String#scan
  artichoke-backend/src/extn/core/string/scan.rs
Labels: A-performance, A-ruby-core

#376 Reimplement scripts/lint.sh as a Node script
  .circleci/config.yml
  package.json
  scripts/format-c.sh
  scripts/format-text.sh
  scripts/lint.js
  scripts/lint.sh
  yarn.lock
Labels: A-build

#377 Implement ruby/spec testing with a pure Ruby script
  .circleci/config.yml
  doc/ruby-spec.md
  package.json
  scripts/spec.rb
Labels: A-build, A-spec

#378 Remove obsoleted bash scripts
  scripts/activate-wasm-build-env.sh
  scripts/rruby-flamegraph.sh
  scripts/run-spec.sh
  scripts/spec-compliance.sh
Labels: A-deps, A-project, C-quality

#379 Remove legacy pieces of spec-runner crate
  spec-runner/src/Gemfile
  spec-runner/src/Gemfile.lock
  spec-runner/src/mspec.rb
  spec-runner/src/mspec.rs
Labels: A-spec

#380 Remove docs on loc flamegraph
  CONTRIBUTING.md
  package.json
Labels: A-project, C-docs

#364 Reduce allocations of Symbols backed by &'static byte strings
  artichoke-backend/src/extn/core/regexp/backend/onig.rs
  artichoke-backend/src/extn/core/regexp/backend/regex_utf8.rs
  artichoke-backend/src/extn/core/regexp/mod.rs
  artichoke-backend/src/extn/core/string/scan.rs
  artichoke-backend/src/module.rs
  artichoke-backend/src/state.rs
  artichoke-backend/src/value.rs
  artichoke-frontend/src/ruby.rs
Labels: A-performance, A-ruby-core, A-vm, B-mruby

#381 Use mrb_intern_static for interned Symbols from Rust
  artichoke-backend/src/state.rs
Labels: A-core, A-performance, A-vm, B-mruby

#382 Reimplement Array with a buffer type that optionally inlines
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-backend/mruby-sys/include/mruby-sys/artichoke.h
  artichoke-backend/src/convert/array.rs
  artichoke-backend/src/extn/core/array/backend/mod.rs
  artichoke-backend/src/extn/core/array/ffi.rs
  artichoke-backend/src/extn/core/array/inline_buffer.rs
  artichoke-backend/src/extn/core/array/mod.rs
  artichoke-backend/src/extn/core/array/mruby.rs
  artichoke-backend/src/ffi.rs
  artichoke-backend/vendor/mruby/include/mrbconf.h
  artichoke-backend/vendor/mruby/src/class.c
  artichoke-backend/vendor/mruby/src/error.c
  artichoke-backend/vendor/mruby/src/init.c
  artichoke-backend/vendor/mruby/src/vm.c
  scripts/lint.js
Labels: A-deps, A-performance, A-ruby-core, A-vm, B-mruby

#383 Make checkout the first step of every job
  .circleci/config.yml
Labels: A-build

#384 Implement Random core class and random functions in Kernel
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-backend/src/convert/array.rs
  artichoke-backend/src/convert/float.rs
  artichoke-backend/src/convert/hash.rs
  artichoke-backend/src/convert/nilable.rs
  artichoke-backend/src/extn/core/float/mod.rs
  artichoke-backend/src/extn/core/kernel/kernel.rb
  artichoke-backend/src/extn/core/mod.rs
  artichoke-backend/src/extn/core/random/backend/default.rs
  artichoke-backend/src/extn/core/random/backend/mod.rs
  artichoke-backend/src/extn/core/random/backend/rand.rs
  artichoke-backend/src/extn/core/random/mod.rs
  artichoke-backend/src/extn/core/random/mruby.rs
  artichoke-backend/src/extn/core/random/random.rb
  artichoke-backend/src/state.rs
  artichoke-backend/src/types.rs
  artichoke-backend/src/value.rs
Labels: A-deps, A-ruby-core

#387 Improve compatability of ENV implementation
  artichoke-backend/src/extn/core/env/backend/memory.rs
  artichoke-backend/src/extn/core/env/backend/system.rs
  artichoke-backend/src/extn/core/exception/mod.rs
Labels: A-ruby-core, A-spec

#388 Update CONTRIBUTING.md for accuracy
  CONTRIBUTING.md
Labels: A-project, C-docs

#391 Add separate deny directives for each clippy group
  artichoke-backend/build.rs
  artichoke-backend/src/lib.rs
  artichoke-backend/src/sys/mod.rs
  artichoke-backend/tests/leak_funcall.rs
  artichoke-backend/tests/leak_mrb_tt_data_rc.rs
  artichoke-backend/tests/leak_unbounded_arena_growth.rs
  artichoke-backend/tests/manual.rs
  artichoke-backend/tests/obj_new_borrow_mut.rs
  artichoke-backend/tests/segfault_rc_transmute.rs
  artichoke-core/src/lib.rs
  artichoke-frontend/src/bin/airb.rs
  artichoke-frontend/src/lib.rs
  artichoke-vfs/src/lib.rs
  spec-runner/build.rs
  spec-runner/src/main.rs
Labels: A-build

#393 Cleanup class spec tests
  artichoke-backend/src/class.rs
Labels: A-core, B-mruby, C-quality

#394 Add a NOOP ruby script tha emulates Unix 'true' on Windows
  artichoke-backend/build.rs
  artichoke-backend/mruby_build_config_null.rb
  artichoke-backend/scripts/noop.rb
Labels: A-build, A-build-target, O-windows

#395 Build gh-pages branch with a machine user
  .circleci/config.yml
  package.json
  yarn.lock
Labels: A-build

#396 Prune JS deps
  package.json
  yarn.lock
Labels: A-deps

#397 Enable hash converters behind feature
  artichoke-backend/Cargo.toml
  artichoke-backend/src/convert/array.rs
  artichoke-backend/src/convert/hash.rs
  artichoke-backend/src/convert/nilable.rs
Labels: A-vm, B-mruby
