Repository artichoke/artichoke, pull requests merged in 2020-04, with the labels that each got.

#623 Reimplement Kernel core module with modern patterns
  artichoke-backend/src/extn/core/kernel/integer.rs
  artichoke-backend/src/extn/core/kernel/mod.rs
  artichoke-backend/src/extn/core/kernel/mruby.rs
  artichoke-backend/src/extn/core/kernel/require.rs
  artichoke-backend/src/extn/core/kernel/trampoline.rs
  artichoke-backend/src/extn/core/mod.rs
  artichoke-backend/src/state/output.rs
  artichoke-backend/src/warn.rs
Labels: A-ruby-core, A-vm, C-quality

#624 Output full line on recoverable parser error
  src/repl.rs
Labels: A-frontend

#625 Propagate exceptions raised from coerce implementations
  artichoke-backend/src/extn/core/numeric/mod.rs
Labels: A-ruby-core, A-spec

#627 Use BString struct fields where possible to get better debug impls
  artichoke-backend/src/exception.rs
  artichoke-backend/src/exception_handler.rs
  artichoke-backend/src/extn/core/exception/mod.rs
  artichoke-backend/src/extn/core/matchdata/mod.rs
  artichoke-backend/src/extn/core/regexp/mod.rs
  artichoke-backend/src/state/output.rs
Labels: A-deps, C-quality

#630 Add interpreter parameter to Value methods in artichoke-core
  artichoke-backend/README.md
  artichoke-backend/src/class.rs
  artichoke-backend/src/convert/array.rs
  artichoke-backend/src/convert/boolean.rs
  artichoke-backend/src/convert/bytes.rs
  artichoke-backend/src/convert/fixnum.rs
  artichoke-backend/src/convert/float.rs
  artichoke-backend/src/convert/hash.rs
  artichoke-backend/src/convert/object.rs
  artichoke-backend/src/convert/string.rs
  artichoke-backend/src/def.rs
  artichoke-backend/src/eval.rs
  artichoke-backend/src/exception.rs
  artichoke-backend/src/exception_handler.rs
  artichoke-backend/src/extn/core/array/args.rs
  artichoke-backend/src/extn/core/array/inline_buffer.rs
  artichoke-backend/src/extn/core/array/mod.rs
  artichoke-backend/src/extn/core/array/mruby.rs
  artichoke-backend/src/extn/core/array/trampoline.rs
  artichoke-backend/src/extn/core/env/mod.rs
  artichoke-backend/src/extn/core/float/mod.rs
  artichoke-backend/src/extn/core/integer/mod.rs
  artichoke-backend/src/extn/core/integer/trampoline.rs
  artichoke-backend/src/extn/core/kernel/kernel_test.rb
  artichoke-backend/src/extn/core/kernel/mod.rs
  artichoke-backend/src/extn/core/kernel/trampoline.rs
  artichoke-backend/src/extn/core/matchdata/trampoline.rs
  artichoke-backend/src/extn/core/math/mod.rs
  artichoke-backend/src/extn/core/numeric/mod.rs
  artichoke-backend/src/extn/core/random/mod.rs
  artichoke-backend/src/extn/core/regexp/enc.rs
  artichoke-backend/src/extn/core/regexp/mod.rs
  artichoke-backend/src/extn/core/regexp/opts.rs
  artichoke-backend/src/extn/core/string/mod.rs
  artichoke-backend/src/extn/core/string/string_test.rb
  artichoke-backend/src/extn/core/string/trampoline.rs
  artichoke-backend/src/extn/core/thread.rs
  artichoke-backend/src/extn/core/thread/mod.rs
  artichoke-backend/src/extn/core/thread/thread.rb
  artichoke-backend/src/extn/core/thread/thread_test.rb
  artichoke-backend/src/extn/stdlib/abbrev/mod.rs
  artichoke-backend/src/extn/stdlib/forwardable/mod.rs
  artichoke-backend/src/extn/stdlib/json/mod.rs
  artichoke-backend/src/extn/stdlib/monitor/mod.rs
  artichoke-backend/src/extn/stdlib/securerandom/mod.rs
  artichoke-backend/src/extn/stdlib/strscan/mod.rs
  artichoke-backend/src/extn/stdlib/uri/mod.rs
  artichoke-backend/src/gc.rs
  artichoke-backend/src/lib.rs
  artichoke-backend/src/value.rs
  artichoke-backend/src/warn.rs
  artichoke-backend/tests/leak/mod.rs
  artichoke-backend/tests/leak_funcall.rs
  artichoke-backend/tests/leak_mrb_tt_data_rc.rs
  artichoke-backend/tests/leak_unbounded_arena_growth.rs
  artichoke-backend/tests/manual.rs
  artichoke-core/src/value.rs
  spec-runner/src/mspec.rs
  src/lib.rs
  src/repl.rs
Labels: A-core, A-ruby-core, A-vm, B-mruby, C-quality

#631 Remove interpreter field from Value
  artichoke-backend/src/extn/core/kernel/trampoline.rs
  artichoke-backend/src/extn/core/regexp/enc.rs
  artichoke-backend/src/extn/core/regexp/opts.rs
  artichoke-backend/src/extn/core/string/trampoline.rs
  artichoke-backend/src/value.rs
Labels: A-vm, B-mruby

#634 Fixup image URLs in README
  README.md
Labels: A-project

#635 Add a safe function for testing whether a value is a Range
  artichoke-backend/src/extn/core/array/args.rs
  artichoke-backend/src/extn/core/matchdata/args.rs
  artichoke-backend/src/extn/core/matchdata/mod.rs
  artichoke-backend/src/extn/core/matchdata/trampoline.rs
  artichoke-backend/src/sys/protect.rs
  artichoke-backend/src/value.rs
Labels: A-ruby-core, A-vm, B-MRI

#636 Improve reliability of setup program lang actions
  .github/workflows/audit.yaml
  .github/workflows/ci.yaml
  .github/workflows/fuzz.yaml
  .github/workflows/rustdoc.yaml
Labels: A-build

#637 Allow building when there is no commit info for rustc
  artichoke-backend/build.rs
Labels: A-build, C-bug

#639 Fallible artichoke backend build steps
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-backend/build.rs
Labels: A-build, A-deps

#640 Fixup date handling in artichoke-backend build.rs
  artichoke-backend/build.rs
Labels: A-build

#641 Bump Rust toolchain to 1.43.0
  artichoke-backend/src/convert/float.rs
  artichoke-backend/src/extn/core/float/mod.rs
  artichoke-backend/src/extn/core/math/mod.rs
  artichoke-backend/src/extn/core/regexp/opts.rs
  artichoke-backend/src/types.rs
  rust-toolchain
  src/parser.rs
Labels: A-build, A-deps

#642 Rename types::Float alias to types::Fp
  artichoke-backend/src/convert/float.rs
  artichoke-backend/src/extn/core/float/mod.rs
  artichoke-backend/src/extn/core/integer/mod.rs
  artichoke-backend/src/extn/core/math/mod.rs
  artichoke-backend/src/extn/core/numeric/mod.rs
  artichoke-backend/src/extn/core/random/backend/default.rs
  artichoke-backend/src/extn/core/random/backend/mod.rs
  artichoke-backend/src/extn/core/random/backend/rand.rs
  artichoke-backend/src/extn/core/random/mod.rs
  artichoke-backend/src/extn/prelude.rs
  artichoke-backend/src/extn/stdlib/securerandom/mod.rs
  artichoke-backend/src/state/prng.rs
  artichoke-backend/src/test/prelude.rs
  artichoke-backend/src/types.rs
Labels: A-vm, C-quality

#643 Extract active regexp globals into a standalone state component
  artichoke-backend/src/extn/core/regexp/backend/onig.rs
  artichoke-backend/src/extn/core/regexp/backend/regex/utf8.rs
  artichoke-backend/src/extn/core/regexp/mod.rs
  artichoke-backend/src/state/mod.rs
  artichoke-backend/src/state/regexp.rs
Labels: A-ruby-core, A-vm

#644 Take mutable reference to an interpreter in RustBackedValue
  artichoke-backend/src/convert/array.rs
  artichoke-backend/src/convert/hash.rs
  artichoke-backend/src/convert/object.rs
  artichoke-backend/src/exception.rs
  artichoke-backend/src/extn/core/array/ffi.rs
  artichoke-backend/src/extn/core/array/mruby.rs
  artichoke-backend/src/extn/core/array/trampoline.rs
  artichoke-backend/src/extn/core/env/mod.rs
  artichoke-backend/src/extn/core/env/mruby.rs
  artichoke-backend/src/extn/core/kernel/trampoline.rs
  artichoke-backend/src/extn/core/numeric/mod.rs
  artichoke-backend/src/extn/core/time/mruby.rs
  artichoke-backend/src/extn/core/time/trampoline.rs
  artichoke-backend/src/value.rs
  artichoke-backend/tests/leak_mrb_tt_data_rc.rs
  artichoke-backend/tests/manual.rs
  artichoke-backend/tests/obj_new_borrow_mut.rs
  artichoke-core/src/value.rs
Labels: A-core, A-ruby-core, A-vm, B-mruby

#645 Fixes to build and linter
  .github/workflows/audit.yaml
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  Rakefile
  package.json
Labels: A-build, A-project, C-docs

#646 Add docker install instructions
  README.md
Labels: A-project, C-docs

#647 Add install instructions for prebuilt nightlies
  .prettierrc.yaml
  README.md
  Rakefile
  package.json
Labels: A-project, C-docs

#650 Use iterators in more places with the IntoIterator trait
  artichoke-backend/build.rs
  artichoke-backend/src/extn/core/kernel/trampoline.rs
  artichoke-backend/src/extn/core/regexp/mod.rs
  artichoke-backend/src/extn/core/regexp/trampoline.rs
  spec-runner/src/main.rs
  spec-runner/src/mspec.rs
Labels: A-ruby-core, C-quality

#651 Implement Kernel#p as a trampoline method similar to Kernel#puts
  artichoke-backend/src/extn/core/kernel/kernel_test.rb
  artichoke-backend/src/extn/core/kernel/mruby.rs
  artichoke-backend/src/extn/core/kernel/trampoline.rs
Labels: A-ruby-core

#652 Convert filename argument in LoadSources from &[u8] to AsRef<Path>
  artichoke-backend/src/eval.rs
  artichoke-backend/src/extn/core/kernel/mod.rs
  artichoke-backend/src/extn/core/thread/mod.rs
  artichoke-backend/src/extn/stdlib/abbrev/mod.rs
  artichoke-backend/src/extn/stdlib/cmath/mod.rs
  artichoke-backend/src/extn/stdlib/delegate/mod.rs
  artichoke-backend/src/extn/stdlib/forwardable/mod.rs
  artichoke-backend/src/extn/stdlib/json/mod.rs
  artichoke-backend/src/extn/stdlib/monitor/mod.rs
  artichoke-backend/src/extn/stdlib/ostruct/mod.rs
  artichoke-backend/src/extn/stdlib/securerandom/mruby.rs
  artichoke-backend/src/extn/stdlib/set/mod.rs
  artichoke-backend/src/extn/stdlib/shellwords/mod.rs
  artichoke-backend/src/extn/stdlib/strscan/mod.rs
  artichoke-backend/src/extn/stdlib/time/mod.rs
  artichoke-backend/src/extn/stdlib/uri/mod.rs
  artichoke-backend/src/load.rs
  artichoke-backend/tests/leak_mrb_tt_data_rc.rs
  artichoke-backend/tests/manual.rs
  artichoke-core/src/load.rs
  spec-runner/src/main.rs
  spec-runner/src/mspec.rs
  spec-runner/src/rubyspec.rs
Labels: A-core, A-vm

#654 Treat a single dash '-' programfile argument to CLI as 'read from stdin'
  src/ruby.rs
Labels: A-frontend
