Repository artichoke/artichoke, pull requests merged in 2020-03, with the labels that each got.

#549 Install cargo-deny from public GitHub release
  .github/workflows/audit.yaml
Labels: A-build

#548 Bump rust-embed to 5.5.0
  Cargo.lock
  spec-runner/Cargo.toml
  spec-runner/build.rs
  spec-runner/src/mspec.rs
Labels: A-build, A-deps, A-spec

#551 cargo update
  Cargo.lock
  deny.toml
Labels: A-deps

#552 Replace spec.rb with a standalone spec-runner binary
  Cargo.lock
  Rakefile
  artichoke-backend/src/convert/array.rs
  artichoke-backend/src/extn/core/array/array.rb
  artichoke-frontend/src/bin/airb.rs
  doc/ruby-spec.md
  scripts/spec.rb
  spec-runner/Cargo.toml
  spec-runner/README.md
  spec-runner/enforced-specs.yaml
  spec-runner/src/main.rs
  spec-runner/src/model.rs
  spec-runner/src/mspec.rs
  spec-runner/src/rubyspec.rs
Labels: A-deps, A-frontend, A-ruby-core, A-spec, C-docs

#553 header depth typo in README
  spec-runner/README.md
Labels: C-docs

#554 Add SecureRandom implementation
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-backend/src/extn/core/random/mod.rs
  artichoke-backend/src/extn/stdlib/mod.rs
  artichoke-backend/src/extn/stdlib/securerandom/mod.rs
  artichoke-backend/src/extn/stdlib/securerandom/mruby.rs
  artichoke-backend/src/extn/stdlib/securerandom/trampoline.rs
  artichoke-backend/src/value.rs
  spec-runner/enforced-specs.yaml
Labels: A-deps, A-ruby-stdlib, A-spec

#555 Add a test to ensure the SecureRandom uses a CSPRNG
  artichoke-backend/src/extn/stdlib/securerandom/mod.rs
Labels: A-deps, A-ruby-stdlib

#556 Remove fs_extra and walkdir build-dependencies in artichoke-backend
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-backend/build.rs
Labels: A-build, A-deps

#557 Prepare Regexp module for global variable APIs
  artichoke-backend/src/extn/core/regexp/backend/lazy.rs
  artichoke-backend/src/extn/core/regexp/backend/mod.rs
  artichoke-backend/src/extn/core/regexp/backend/onig.rs
  artichoke-backend/src/extn/core/regexp/backend/regex/utf8.rs
  artichoke-backend/src/extn/core/regexp/mod.rs
  artichoke-backend/src/state/mod.rs
Labels: A-ruby-core, C-quality

#558 Optimize Cargo release profile
  Cargo.toml
Labels: A-build, A-performance

#560 yarn upgrade to fix audit failure for acorn
  yarn.lock
Labels: A-deps

#559 Add Math module implementation from Ruby Core
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-backend/src/extn/core/integer/mod.rs
  artichoke-backend/src/extn/core/math/mod.rs
  artichoke-backend/src/extn/core/math/mruby.rs
  artichoke-backend/src/extn/core/mod.rs
  artichoke-backend/src/intern.rs
  artichoke-backend/src/sys/mod.rs
  artichoke-backend/vendor/mruby/src/vm.c
  spec-runner/enforced-specs.yaml
Labels: A-deps, A-ruby-core, A-spec, B-mruby

#561 Replace all usage of format! macro with panic-free alternatives
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-backend/src/convert/object.rs
  artichoke-backend/src/extn/core/array/args.rs
  artichoke-backend/src/extn/core/kernel/integer.rs
  artichoke-backend/src/extn/core/matchdata/begin.rs
  artichoke-backend/src/extn/core/matchdata/end.rs
  artichoke-backend/src/extn/core/random/mod.rs
  artichoke-backend/src/string.rs
  artichoke-backend/src/value.rs
  artichoke-backend/tests/leak_unbounded_arena_growth.rs
Labels: A-deps, C-quality

#562 Add core APIs for getting, setting, and removing global variable bindings
  artichoke-backend/src/extn/core/string/trampoline.rs
  artichoke-backend/src/extn/prelude.rs
  artichoke-backend/src/globals.rs
  artichoke-backend/src/lib.rs
  artichoke-backend/src/test/prelude.rs
  artichoke-core/src/globals.rs
  artichoke-core/src/lib.rs
Labels: A-core, A-ruby-core, B-mruby

#563 Optimize random and securerandom implementations
  artichoke-backend/src/extn/core/random/backend/rand.rs
  artichoke-backend/src/extn/core/random/mod.rs
  artichoke-backend/src/extn/stdlib/securerandom/mod.rs
  artichoke-backend/src/state/prng.rs
Labels: A-deps, A-performance, A-ruby-core, A-ruby-stdlib, C-quality

#564 Remove downcast dependency and all use of Any
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-backend/src/extn/core/array/backend/mod.rs
  artichoke-backend/src/extn/core/array/inline_buffer.rs
  artichoke-backend/src/extn/core/env/backend/memory.rs
  artichoke-backend/src/extn/core/env/backend/mod.rs
  artichoke-backend/src/extn/core/env/backend/system.rs
  artichoke-backend/src/extn/core/env/mod.rs
  artichoke-backend/src/extn/core/random/backend/default.rs
  artichoke-backend/src/extn/core/random/backend/mod.rs
  artichoke-backend/src/extn/core/random/backend/rand.rs
  artichoke-backend/src/extn/core/random/mod.rs
  artichoke-backend/src/extn/core/time/backend/chrono.rs
  artichoke-backend/src/extn/core/time/backend/mod.rs
  artichoke-backend/src/extn/core/time/mod.rs
  artichoke-backend/src/extn/core/time/trampoline.rs
  artichoke-backend/src/lib.rs
  artichoke-backend/src/state/mod.rs
  artichoke-backend/src/state/output.rs
  artichoke-backend/src/state/prng.rs
Labels: A-deps, A-ruby-core

#565 Some small refactorings and cleanups
  artichoke-backend/build.rs
  artichoke-backend/src/class.rs
  artichoke-backend/src/constant.rs
  artichoke-backend/src/def.rs
  artichoke-backend/src/exception_handler.rs
  artichoke-backend/src/extn/core/array/inline_buffer.rs
  artichoke-backend/src/extn/stdlib/securerandom/mod.rs
  artichoke-backend/src/extn/stdlib/securerandom/trampoline.rs
  artichoke-backend/src/module.rs
  artichoke-backend/src/sys/protect.rs
  artichoke-backend/tests/leak/mod.rs
  artichoke-core/src/constant.rs
Labels: C-quality

#566 Refactor Utf8 Regexp backend to use global variable APIs
  artichoke-backend/src/extn/core/regexp/backend/regex/utf8.rs
  artichoke-backend/src/extn/core/regexp/mod.rs
Labels: A-ruby-core, C-quality

#567 Bump Rust toolchain to 1.42.0
  rust-toolchain
Labels: A-build

#568 Remove unneeded project metadata files
  .gitattributes
  .idea/ferrocarril.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  rustdoc-toolchain
Labels: A-project, C-quality

#569 Improve the spec compliance of ENV implementation
  artichoke-backend/Cargo.toml
  artichoke-backend/mruby-sys/include/mruby-sys/artichoke.h
  artichoke-backend/src/extn/core/array/array.rb
  artichoke-backend/src/extn/core/array/ffi.rs
  artichoke-backend/src/extn/core/env/backend/memory.rs
  artichoke-backend/src/extn/core/env/backend/system.rs
  artichoke-backend/src/extn/core/env/env.rb
  artichoke-backend/src/extn/core/env/mod.rs
  artichoke-backend/src/extn/core/exception/exception.rb
  artichoke-backend/vendor/mruby/include/mrbconf.h
  artichoke-backend/vendor/mruby/src/hash.c
  artichoke-backend/vendor/mruby/src/numeric.c
  spec-runner/enforced-specs.yaml
Labels: A-ruby-core, A-spec, B-mruby

#570 Rename features for Random core class and SecureRandom stdlib module
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-backend/src/extn/core/mod.rs
  artichoke-backend/src/extn/core/random/backend/rand.rs
  artichoke-backend/src/extn/stdlib/mod.rs
  artichoke-backend/src/state/mod.rs
  artichoke-backend/src/state/prng.rs
Labels: A-deps, A-optional-stdlib, A-ruby-core, A-ruby-stdlib

#571 Migrate onig Regexp backend to use global variable APIs
  artichoke-backend/src/extn/core/regexp/backend/onig.rs
Labels: A-ruby-core, C-quality

#573 yarn upgrade to address CVE-2020-7598
  yarn.lock
Labels: A-deps

#574 Ensure GitHub Actions with required checks run on external PRs
  .github/workflows/audit.yaml
  .github/workflows/ci.yaml
  .github/workflows/rustdoc.yaml
Labels: A-build, A-project

#575 Disable unicode cargo feature in bstr
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-frontend/Cargo.toml
Labels: A-build, A-deps

#576 Disable with-dirs cargo feature in rustyline
  Cargo.lock
  artichoke-frontend/Cargo.toml
Labels: A-build, A-deps

#577 Improve support for OsStrings in artichoke-backend
  artichoke-backend/src/convert/bytes.rs
  artichoke-backend/src/extn/core/env/backend/system.rs
  artichoke-backend/src/extn/core/kernel/require.rs
  artichoke-backend/src/ffi.rs
Labels: A-filesystem, A-vm

#581 Import some generated stdlib packages into extn
  .rubocop.yml
  artichoke-backend/src/extn/stdlib/cmath/cmath.rb
  artichoke-backend/src/extn/stdlib/cmath/mod.rs
  artichoke-backend/src/extn/stdlib/gen/cmath.rs
  artichoke-backend/src/extn/stdlib/gen/shellwords.rs
  artichoke-backend/src/extn/stdlib/gen/time.rs
  artichoke-backend/src/extn/stdlib/gen/yaml.rb
  artichoke-backend/src/extn/stdlib/gen/yaml.rs
  artichoke-backend/src/extn/stdlib/mod.rs
  artichoke-backend/src/extn/stdlib/shellwords/mod.rs
  artichoke-backend/src/extn/stdlib/shellwords/shellwords.rb
  artichoke-backend/src/extn/stdlib/time/mod.rs
  artichoke-backend/src/extn/stdlib/time/time.rb
  spec-runner/enforced-specs.yaml
Labels: A-ruby-stdlib

#582 Remove leftover artichoke-frontend directory
  artichoke-frontend/Cargo.toml
  artichoke-frontend/README.md
Labels: A-frontend, A-project, C-docs

#583 Hide rustdoc index asset override in .github directory
  .github/rustdoc/index.html
  .github/workflows/rustdoc.yaml
Labels: A-build, C-quality

#584 Overhaul markdown documentation
  .github/markdown-link-check.json
  .github/workflows/ci.yaml
  BUILD.md
  CONTRIBUTING.md
  README.md
  RUBYSPEC.md
  Rakefile
  VISION.md
  artichoke-backend/README.md
  artichoke-backend/src/extn/stdlib/gen/README.md
  artichoke-backend/vendor/README.md
  artichoke-core/README.md
  doc/build.md
  package.json
  spec-runner/vendor/README.md
  yarn.lock
Labels: A-build, A-deps, A-project, C-docs

#585 Reduce the role of JavaScript in Artichoke
  .github/workflows/audit.yaml
  .github/workflows/ci.yaml
  .prettierignore
  CONTRIBUTING.md
  Rakefile
  artichoke-backend/Cargo.toml
  artichoke-backend/scripts/auto_import/auto_import.rb
  package-lock.json
  package.json
  scripts/clang-format.js
  yarn.lock
Labels: A-build, A-deps

#586 Fix cargo install snippet
  README.md
Labels: A-project, C-docs

#587 Upgrade to base64 0.12.0
  Cargo.lock
  artichoke-backend/Cargo.toml
  artichoke-backend/src/extn/stdlib/securerandom/mod.rs
Labels: A-deps, A-ruby-stdlib

#588 Fuzz eval for 30 minutes every day
  .github/workflows/fuzz.yaml
  fuzz/.gitignore
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/eval.rs
Labels: A-build, A-vm, B-mruby

#589 Doc cleanup
  artichoke-backend/src/class.rs
  artichoke-backend/src/extn/stdlib/securerandom/mruby.rs
  artichoke-backend/src/lib.rs
  artichoke-backend/src/module.rs
  artichoke-backend/src/sys/mod.rs
  artichoke-core/src/lib.rs
  src/lib.rs
Labels: C-docs

#590 Setup artichoke-backend build deps in fuzz workflow
  .github/markdown-link-check.json
  .github/workflows/fuzz.yaml
Labels: A-build

#593 Remove validate-links build step from CI workflow
  .github/workflows/ci.yaml
Labels: A-build

#592 Fix artichoke-backend build failure when build path contains a space
  artichoke-backend/build.rs
  artichoke-backend/mruby_build_config_null.rb
  artichoke-backend/vendor/mruby/lib/mruby/build/command.rb
Labels: A-build, B-mruby, C-bug

#596 Fix compilation errors on emscripten target
  artichoke-backend/src/extn/core/random/backend/rand.rs
  artichoke-backend/src/extn/core/string/trampoline.rs
  artichoke-backend/src/state/prng.rs
Labels: A-build-target, O-wasm-emscripten

#597 Disable default features for artichoke-backend dependency in artichoke
  .github/workflows/ci.yaml
  Cargo.toml
Labels: A-build, A-deps

#598 Add compile time features for selecting output strategy
  Cargo.toml
  artichoke-backend/Cargo.toml
  artichoke-backend/src/extn/core/kernel/mod.rs
  artichoke-backend/src/state/mod.rs
  artichoke-backend/src/state/output.rs
  artichoke-backend/src/warn.rs
Labels: A-frontend, A-vm

#599 Stop copying vendored ruby tree into build directory
  artichoke-backend/build.rs
Labels: A-build

#600 Improve handling of Array indexes
  artichoke-backend/src/extn/core/array/args.rs
  artichoke-backend/src/extn/core/array/array.rb
  artichoke-backend/src/extn/core/array/inline_buffer_test.rb
  artichoke-backend/src/extn/core/array/mod.rs
Labels: A-ruby-core, C-quality

#601 Clean up implementation of Math::gamma
  artichoke-backend/src/extn/core/math/mod.rs
Labels: A-ruby-core, C-quality

#602 Improve comments and test coverage of types::ruby_from_mrb_value
  artichoke-backend/src/types.rs
Labels: A-vm, B-mruby, C-quality

#604 Use i64 for Fixnum backend on all targets
  artichoke-backend/build.rs
  artichoke-backend/src/convert.rs
  artichoke-backend/src/convert/fixnum.rs
  artichoke-backend/src/extn/core/string/trampoline.rs
  artichoke-backend/src/extn/core/time/trampoline.rs
  artichoke-backend/src/types.rs
Labels: A-build-target, A-performance, A-vm, B-mruby, O-wasm-emscripten, O-wasm-unknown

#605 Experiment with using trampoline modules as a VM compat layer
  artichoke-backend/src/extn/core/integer/mod.rs
  artichoke-backend/src/extn/core/integer/trampoline.rs
Labels: A-ruby-core, A-vm, S-speculative

#594 Print backtraces of top-level exceptions in ruby frontend #478
  src/ruby.rs
Labels: A-frontend, A-spec

#606 Address followups to GH-594 artichoke entrypoint backtrace formatting
  artichoke-backend/src/extn/core/hash/hash.rb
  src/bin/artichoke.rs
  src/repl.rs
  src/ruby.rs
Labels: A-frontend, A-spec, A-vm, C-quality

#608 Refactor frontend code
  src/backtrace.rs
  src/bin/artichoke.rs
  src/lib.rs
  src/parser.rs
  src/repl.rs
  src/ruby.rs
Labels: A-filesystem, A-frontend, C-quality

#609 Initialize all Float constants
  artichoke-backend/src/extn/core/float/mod.rs
Labels: A-ruby-core, A-spec

#607 Trampoline as VM Compat Layer: Regexp
  artichoke-backend/src/convert/array.rs
  artichoke-backend/src/extn/core/regexp/backend/lazy.rs
  artichoke-backend/src/extn/core/regexp/backend/mod.rs
  artichoke-backend/src/extn/core/regexp/backend/onig.rs
  artichoke-backend/src/extn/core/regexp/backend/regex/utf8.rs
  artichoke-backend/src/extn/core/regexp/mod.rs
  artichoke-backend/src/extn/core/string/trampoline.rs
Labels: A-ruby-core, A-spec, C-quality

#610 Implement Numeric coercion
  artichoke-backend/src/extn/core/float/mod.rs
  artichoke-backend/src/extn/core/integer/mod.rs
  artichoke-backend/src/extn/core/integer/mruby.rs
  artichoke-backend/src/extn/core/integer/trampoline.rs
  artichoke-backend/src/extn/core/numeric/mod.rs
  artichoke-backend/src/types.rs
  artichoke-backend/vendor/mruby/src/vm.c
Labels: A-ruby-core, A-spec, A-vm, B-mruby

#611 Fix broken GitHub issue references in TODO comments
  artichoke-backend/build.rs
  artichoke-backend/src/convert/hash.rs
  artichoke-backend/src/eval.rs
  artichoke-backend/src/extn/core/array/args.rs
  artichoke-backend/src/extn/core/kernel/mod.rs
  artichoke-backend/src/extn/core/kernel/require.rs
  artichoke-backend/src/extn/core/matchdata/element_reference.rs
  artichoke-backend/src/extn/core/regexp/backend/regex/mod.rs
  artichoke-backend/src/extn/core/regexp/opts.rs
  artichoke-backend/src/extn/core/thread.rs
  artichoke-backend/src/extn/stdlib/forwardable.rs
  artichoke-backend/src/fs.rs
  artichoke-backend/src/parser.rs
  artichoke-backend/src/sys/ffi_tests.rs
  artichoke-backend/src/sys/mod.rs
  artichoke-backend/src/value.rs
  spec-runner/src/mspec.rs
Labels: A-project, B-mruby, C-quality

#612 Improve converter test coverage
  artichoke-backend/src/convert/array.rs
  artichoke-backend/src/convert/boolean.rs
  artichoke-backend/src/convert/bytes.rs
  artichoke-backend/src/convert/fixnum.rs
  artichoke-backend/src/convert/float.rs
  artichoke-backend/src/convert/hash.rs
  artichoke-backend/src/convert/string.rs
Labels: A-vm, C-quality

#613 Refactor pattern parsing in Regexp to drop temporary on error branch
  artichoke-backend/src/extn/core/regexp/mod.rs
Labels: A-ruby-core

#615 Use Random and SecureRandom trampolines as VM compat layer
  artichoke-backend/src/extn/core/random/mod.rs
  artichoke-backend/src/extn/core/random/mruby.rs
  artichoke-backend/src/extn/core/random/trampoline.rs
  artichoke-backend/src/extn/stdlib/securerandom/mod.rs
  artichoke-backend/src/extn/stdlib/securerandom/trampoline.rs
Labels: A-ruby-core, A-ruby-stdlib, A-vm, C-quality

#617 Use Regexp trampoline as a VM compat layer
  artichoke-backend/src/extn/core/matchdata/begin.rs
  artichoke-backend/src/extn/core/matchdata/end.rs
  artichoke-backend/src/extn/core/matchdata/length.rs
  artichoke-backend/src/extn/core/matchdata/mod.rs
  artichoke-backend/src/extn/core/matchdata/names.rs
  artichoke-backend/src/extn/core/regexp/backend/lazy.rs
  artichoke-backend/src/extn/core/regexp/backend/mod.rs
  artichoke-backend/src/extn/core/regexp/backend/onig.rs
  artichoke-backend/src/extn/core/regexp/backend/regex/utf8.rs
  artichoke-backend/src/extn/core/regexp/mod.rs
  artichoke-backend/src/extn/core/regexp/mruby.rs
  artichoke-backend/src/extn/core/regexp/trampoline.rs
  artichoke-backend/src/extn/core/string/trampoline.rs
Labels: A-ruby-core, A-vm, C-quality

#618 Reimplement MatchData using modern patterns
  artichoke-backend/src/extn/core/matchdata/args.rs
  artichoke-backend/src/extn/core/matchdata/mod.rs
  artichoke-backend/src/extn/core/matchdata/mruby.rs
  artichoke-backend/src/extn/core/matchdata/trampoline.rs
  artichoke-backend/src/extn/core/mod.rs
  artichoke-backend/src/extn/core/regexp/backend/onig.rs
  artichoke-backend/src/extn/core/regexp/backend/regex/utf8.rs
  artichoke-backend/src/extn/core/string/trampoline.rs
Labels: A-ruby-core, A-vm, B-mruby, C-quality

#619 Remove v1 MatchData implementation
  artichoke-backend/src/extn/core/matchdata/begin.rs
  artichoke-backend/src/extn/core/matchdata/captures.rs
  artichoke-backend/src/extn/core/matchdata/element_reference.rs
  artichoke-backend/src/extn/core/matchdata/end.rs
  artichoke-backend/src/extn/core/matchdata/length.rs
  artichoke-backend/src/extn/core/matchdata/named_captures.rs
  artichoke-backend/src/extn/core/matchdata/names.rs
  artichoke-backend/src/extn/core/matchdata/offset.rs
  artichoke-backend/src/extn/core/matchdata/post_match.rs
  artichoke-backend/src/extn/core/matchdata/pre_match.rs
  artichoke-backend/src/extn/core/matchdata/regexp.rs
  artichoke-backend/src/extn/core/matchdata/string.rs
  artichoke-backend/src/extn/core/matchdata/to_a.rs
  artichoke-backend/src/extn/core/matchdata/to_s.rs
Labels: A-ruby-core, C-quality

#620 Update version-sync to 0.9
  Cargo.lock
  Cargo.toml
  deny.toml
Labels: A-deps

#621 Add interpreter parameter to implicit conversions on Value
  artichoke-backend/src/extn/core/array/args.rs
  artichoke-backend/src/extn/core/array/mod.rs
  artichoke-backend/src/extn/core/array/mruby.rs
  artichoke-backend/src/extn/core/array/trampoline.rs
  artichoke-backend/src/extn/core/env/mod.rs
  artichoke-backend/src/extn/core/integer/mod.rs
  artichoke-backend/src/extn/core/integer/trampoline.rs
  artichoke-backend/src/extn/core/kernel/integer.rs
  artichoke-backend/src/extn/core/kernel/mod.rs
  artichoke-backend/src/extn/core/kernel/require.rs
  artichoke-backend/src/extn/core/matchdata/mod.rs
  artichoke-backend/src/extn/core/matchdata/trampoline.rs
  artichoke-backend/src/extn/core/math/mod.rs
  artichoke-backend/src/extn/core/random/mod.rs
  artichoke-backend/src/extn/core/random/trampoline.rs
  artichoke-backend/src/extn/core/regexp/mod.rs
  artichoke-backend/src/extn/core/regexp/trampoline.rs
  artichoke-backend/src/extn/core/string/trampoline.rs
  artichoke-backend/src/extn/stdlib/securerandom/mod.rs
  artichoke-backend/src/extn/stdlib/securerandom/trampoline.rs
  artichoke-backend/src/value.rs
Labels: A-ruby-core, A-ruby-stdlib, A-vm

#622 Add &mut Artichoke parameter to all Value methods
  artichoke-backend/src/extn/core/array/args.rs
  artichoke-backend/src/extn/core/array/ffi.rs
  artichoke-backend/src/extn/core/array/mod.rs
  artichoke-backend/src/extn/core/array/mruby.rs
  artichoke-backend/src/extn/core/array/trampoline.rs
  artichoke-backend/src/extn/core/kernel/integer.rs
  artichoke-backend/src/extn/core/matchdata/trampoline.rs
  artichoke-backend/src/extn/core/math/mod.rs
  artichoke-backend/src/extn/core/numeric/mod.rs
  artichoke-backend/src/extn/core/string/trampoline.rs
  artichoke-backend/src/gc.rs
  artichoke-backend/src/value.rs
  artichoke-backend/tests/leak_unbounded_arena_growth.rs
Labels: A-vm
