Repository artichoke/artichoke, pull requests merged in 2021-04, with the labels that each got.

#1152 Escape email from example docs for ReleaseMetadata::ruby_copyright
  artichoke-core/src/release_metadata.rs
Labels: C-bug, C-docs

#1155 Cherry-pick fix for mismatched prototype when building on emscripten targets
  artichoke-backend/vendor/mruby/src/state.c
Labels: A-deps, B-mruby, C-bug, O-wasm-emscripten

#1159 Update dependabot config to update direct and indirect deps
  .github/dependabot.yml
Labels: A-build, A-deps

#1148 implement Array#shuffle in ruby land
  artichoke-backend/src/extn/core/array/array.rb
Labels: A-ruby-core

#1175 Update Rakefile and RuboCop configuration to work on Windows machines
  .rubocop.yml
  BUILD.md
  Rakefile
Labels: A-build, O-windows
